
// base.scss
@mixin body-font {
  font-family: "Roboto", sans-serif;
}
@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin absolute-center-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin absolute-center-h {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin remove-absolute-center {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
@mixin transition {
  -webkit-ransition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* base color */
$base-color: #636363;
$color-main: #06417d;
$color-main-dark: #033568;
$color-main-second: #12bd90;
$color-main-second-dark: #0ea17a;

$color-main-transparent: rgba(6, 65, 125, 0.8);
$color-main-second-transparent: rgba(18, 189, 144, 0.8);

/* used color */
$color-red: #b70015;
$color-light-red: #be142f;
$color-white: #ffffff;
$color-very-light-grey: #f5f5f5;
$color-light-grey: #ebebeb;
$color-grey: #a5a5a5;
$color-dark-grey: #636363;
$color-yellow: #f4b350;
$color-light-blue: #d1f2e9;

$color-transparent-dark: rgba(0,0,0,0.5);
$color-transparent-white: rgba(255,255,255,0.5);
