
// layout.scss

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
	font-size: 14px;
	@include body-font;
	color: $color-dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
	color: black;
	&:hover {
		color: $base-color;
		text-decoration: none;
	}
  &:focus {
    outline: 0;
  }
}

/*
* Navbar
*/

header {
	position: relative;
	width: 100%;
	z-index: 99;
	top: 0;
	@include transition;
	&.scrolled {
		position: fixed;
		width: 100%;
		z-index: 9999;
		background: rgba(255,255,255,0.9) !important;
		.top-section {
			max-height: 0;
			overflow: hidden;
		}
		.navbar-default {
			.nav {
				> li {
					> a {
						color: $base-color;
					}
				}
			}
		}
	}
	.top-section {
		@include transition;
		.logo {
			padding: 7.5px 0;
			@media (max-width: 1024px) {
				// position: absolute;
				// left: 50%;
				// top: 0;
				// -webkit-transform: translate(-50%, 0);
				// -ms-transform: translate(-50%, 0);
				// -o-transform: translate(-50%, 0);
				// transform: translate(-50%, 0);
			}
			a {
				display: block;
			}
			img {
				height: 35px
			}
		}
		.address {
			// margin-top: 8px;
			padding: 7.5px 0;
			@media (min-width: 1025px) {
				margin-left: 20px;
			}
			@media (max-width: 1024px) {
				float: right !important;
				text-align: right;
				display: block;
			}
			@media (max-width: 767px) {
				display: none !important;
			}
			h1 {
				font-size: 14px;
				margin-bottom: 5px;
			}
			h4 {
				font-size: 12px;
				font-weight: 400;
				margin-bottom: 0;
			}
		}
	}
}
.navbar-default {
	background: transparent !important;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
	height: 50px;
	min-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	@include transition;
	@media (max-width: 1024px) {
		position: relative;
	}

	@media(max-width: 1024px) {
		height: auto;
	}
	@media (max-width: 767px) {
		position: absolute;
    top: 0;
    right: 0;
	}
	.navbar-collapse {
		padding-left: 0px;
		padding-right: 0px;

		@media(min-width: 1025px) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.nav {
		@media(min-width: 768px){
			display: table;
			width: 100%;

			> li {
				display: table-cell;
			 	float: none;
			 	width: auto;

				&.dropdown {
					&:hover {
						.dropdown-menu {
							display: block;
						}
					}
					.dropdown-menu {
						border: 0px transparent;
						li {
							a {
								padding: 5px 20px;
								color: $color-dark-grey;
							}
						}
						@media(min-width: 768px){
							> li {
								> a:hover {
									background: $color-main-second;
									color: $color-white;
								}
							}
						}
					}
				}
				&:hover {
					> a {
						color: $color-main-second !important;
					}
				}
			 	> a {
				 	text-align: center;
			    white-space: nowrap;
					color: $color-white;
					text-transform: uppercase;
					padding-top: 0;
					padding-bottom: 0;
					font-size: 13px;
					height: 50px;
					line-height: 50px;
					position: relative;
					font-weight: 500;
					// &:hover, &:focus {
					// 	color: $color-main !important;
					// 	&:before {
					// 		content: '';
					// 		background: $color-main;
					// 		height: 3px;
					// 		display: block;
					// 		width: 100%;
					// 		position: absolute;
					// 		top: 0;
					// 		left: 0;
					// 	}
					// }
		 		}

				&:hover {
					> a {
						// color: $color-white;
					}
				}
			}
		}
	}
}

/*
* Mixin image
*/
@mixin imgbase($position: absolute, $height: 100%, $width: 100%, $top: 50%, $left: 50%, $transform: translate(-50%, -50%), $max-width: inherit!important, $object-fit: cover){
  position: $position;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
  transform: $transform;
  -webkit-transform: $transform;
  -ms-transform: $transform;
  max-width: $max-width;
  object-fit: $object-fit;
}

/*
* Margin
*/
.margin-blarge {
	margin-bottom: 40px;
}

/*
* Button
*/
a, button {
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button {
	background: $base-color;
	color: $color-white;
	&:hover {
		i {
			color: $color-white;
		}
	}
}

.btn-basic {
	padding: 5px 20px;
	border: 1px solid $base-color;
	border-radius: 0;
	font-weight: 300;
	color: $base-color;
	&:hover {
		background: $base-color;
		color: #fff;
		border: 1px solid $base-color;
	}
}

.btn-yellow {
	padding: 5px 20px;
	border: 1px solid $color-yellow;
	background: $color-yellow;
	border-radius: 0;
	font-weight: 300;
	color: $color-white;

	&:hover {
		background: $base-color;
		color: #fff;
		border: 1px solid $base-color;
	}
}
.btn-main {
	padding: 5px 20px;
	background: $color-main-second;
	border-radius: 0;
	font-weight: 300;
	color: $color-white;
	text-transform: uppercase;
	display: inline-block;
	&.large {
		padding: 10px 20px;
		text-align: center;
		width: 90%;
		max-width: 300px;
		font-size: 20px;
		display: inline-block;
		font-weight: 400;
    letter-spacing: 0.5px;
	}
	&:hover {
		color: $color-white;
		background: $color-main-second-dark;
	}
}
.btn-main-border {
	padding: 5px 20px;
	background: transparent;
	border-radius: 0;
	font-weight: 400;
	color: $color-main;
	border: 1px solid $color-main-second;
	text-transform: uppercase;
	display: inline-block;
	&.large {
		padding: 10px 20px;
		text-align: center;
		width: 90%;
		max-width: 300px;
		font-size: 20px;
		display: inline-block;
		font-weight: 400;
    letter-spacing: 0.5px;
	}
	&:hover {
		color: $color-white;
		background: $color-main-second;
	}
}

.form-control {
	border-radius: 1px !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		box-shadow: none;
		border-color: $color-main;
	}
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
   }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
   }
}


/*
* Slick slider adjustment
*/
.slider-for, .slideroom-for {
  -webkit-box-shadow: 2px 4px 6px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 4px 6px 1px rgba(0,0,0,.2);
  box-shadow: 2px 2px 6px 1px rgba(0,0,0,.2);
  .slick-arrow {
    color: #fff;
    text-align: center;
    z-index: 99;
    &.slick-prev {
      left: 25px;
    }
    &.slick-next {
      right: 25px;
    }
  }

	button {
		i {
			font-size: 40px;
		}
	}
}
.slick-prev:before,
.slick-next:before {
	display: none;
}

.slideroom-for {
	box-shadow: none;
	@media(min-width: 768px){
		.slick-arrow {
			display: none!important;
		}
	}

	@media(max-width: 767px){
		.slick-arrow {
			top: 25%;
		}
	}
}

.white-popup {
  position: relative;
  background: $color-white;
  padding: 25px;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
	&.homepop {
		padding: 0;
		.intro-contentmb {
			img {
				width: 100%;
			}
		}
		.mfp-close {
			right: -10px;
			top: -40px;
			color: $color-white;
		}
	}
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
// =====================================================
// booking landscape
// =====================================================
.bookid-horizontal {
	.btn-main {
		height: 33px !important;
	}
  .info-booking {
    margin: 0;
    color: $color-white;
    padding-bottom: 10px;
  }

  .gridlane {
    margin: 0 -5px;
    padding: 15px 0 0;
		@media (max-width: 1024px) {
			padding: 10px 0;
		}
  }
  .bookidh-label {
    margin-bottom: 10px;
    display: block;
  }
  .bookidh-date {
    background: $color-white;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    overflow: hidden;
  }

  input[type="text"].from_date,
  input[type="text"].to_date,
  select.t_night,
  select#rooms,
  select#adults,
  select#children,
  #from_date_day,
  #to_date_day {
  	background-color: $color-white;
  	border: 0px;
  	margin: 0px;
  	color: #4a4a4a;
  	border-radius: 0px 0px 0px 0px;
  	-moz-border-radius:0px;
  	-o-border-radius:0px;
  	-webkit-border-radius: 0px;
  	box-shadow: none;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	cursor: pointer;
  }

  select.t_night,
  select#rooms,
  select#adults,
  select#children {
  	font-size: 14px;
  	padding: 10px 20px;
  	height: 40px;
    width: 100%;
  }

  #from_date_day, #to_date_day {
  	box-sizing: border-box;
  	outline: 0;
  	height: 33px;
    line-height: 33px;
    vertical-align: top;
  	font-size: 14px;
  }

  input[type="text"].from_date, input[type="text"].to_date{
  	box-sizing: border-box;
  	outline: 0;
  	height: 33px;
  	font-size: 14px;
    width: 85%;
  }

  #from_date_day,
  #to_date_day {
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
  }

  input[type="text"].from_date:focus,
  input[type="text"].to_date:focus,
  select.t_night:focus,
  select#rooms:focus,
  select#adults:focus,
  select#children:focus {
  	background-color: $color-white;
  }
  select.t_night, select#rooms, select#adults, select#children, select#refferer {
  	padding: 7px 10px;
		height: auto;
		border: 0 transparent;
  }

  .bookidh-mainbtn {
    border: 0;
    padding: 5px 15px;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {

    }
  }
}
.gridbox {
  box-sizing: border-box;
  width: 100%;
  //max-width: 1200px;
}
.gridlane {
  margin: 0 -10px;
}
.gridlane:before,
.gridlane:after,
.clearfix:before,
.clearfix:after, {
  content: "";
  display: table;
  clear: both;
}

.visible-xsmall,
.visible-small,
.visible-medium,
.visible-big {
  display: none !important;
}

[class*='idn-'] {
  float: left;
  min-height: 1px;
  padding: 0 5px;
  box-sizing: border-box;
  // margin-bottom: 10px;
}

@media(max-width: 767px) {
  [class*="idn-"] {
    width: 50%;
    margin-bottom: 0;
  }

  .formbtn {
    width: 100%;
  }

  .visible-xsmall {
    display: block !important;
  }
}
@media(min-width: 600px) {
  .idn-s1 {width: 8.33%;}
  .idn-s2 {width: 16.66%;}
  .idn-s3 {width: 25%;}
  .idn-s4 {width: 33.33%;}
  .idn-s5 {width: 41.66%;}
  .idn-s6 {width: 50%;}
  .idn-s7 {width: 58.33%;}
  .idn-s8 {width: 66.66%;}
  .idn-s9 {width: 75%;}
  .idn-s10 {width: 83.33%;}
  .idn-s11 {width: 91.66%;}
  .idn-s12 {width: 100%;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-small {
    display: block !important;
  }
}
@media(min-width: 992px) {
  .idn-m1 {width: 8.33%;}
  .idn-m2 {width: 16.66%;}
  .idn-m3 {width: 25%;}
  .idn-m4 {width: 33.33%;}
  .idn-m5 {width: 41.66%;}
  .idn-m6 {width: 50%;}
  .idn-m7 {width: 58.33%;}
  .idn-m8 {width: 66.66%;}
  .idn-m9 {width: 75%;}
  .idn-m10 {width: 83.33%;}
  .idn-m11 {width: 91.66%;}
  .idn-m12 {width: 100%;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media(min-width: 1200px){
  .idn-b1 {width: 8.33%;}
  .idn-b2 {width: 16.66%;}
  .idn-b3 {width: 25%;}
  .idn-b4 {width: 33.33%;}
  .idn-b5 {width: 41.66%;}
  .idn-b6 {width: 50%;}
  .idn-b7 {width: 58.33%;}
  .idn-b8 {width: 66.66%;}
  .idn-b9 {width: 75%;}
  .idn-b10 {width: 83.33%;}
  .idn-b11 {width: 91.66%;}
  .idn-b12 {width: 100%;}

  .visible-big {
    display: block !important;
  }
}
