
// themes.scss

// -----------------------------------------------------------------------------
// Common class
// -----------------------------------------------------------------------------
h1, h3 {
	&.heading-title {
		color: $color-main;
		text-align: center;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 40px;
		position: relative;
		font-weight: 500;
	}
}

.slider-nav {
  &.global-thumbimg {
    margin: 0 -10px;

    .item {
      padding: 0 10px;
    }
  }
}
.global-centerimg, .global-thumbimg {
  a, span {
    display: block;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      left: 50%;
      margin: 0 auto !important;
      position: absolute;
      height: 100%;
      width: auto;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
  }
}
header {
	// .nav-top {
	// 	background: $color-very-light-grey;
	// 	@media (max-width: 1024px) {
	// 		display: none;
	// 	}
	// 	ul {
	// 		margin: 0 -10px;
	// 		list-style-type: none;
	// 		padding: 0;
	// 		&:after {
	// 			content: '';
	// 			display: table;
	// 			clear: both;
	// 		}
	// 		li {
	// 			float: left;
	// 			a {
	// 				display: block;
	// 				padding: 5px 15px;
	// 				color: $color-grey;
	// 				font-weight: 400;
  //   			font-size: 12px;
	// 				&:hover {
	// 					color: $color-main;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.navbar {
		z-index: 9999;
	}
	.top-section {
		background: $color-white;
	}
}

// -----------------------------------------------------------------------------
// Top section
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
// Homepage
// -----------------------------------------------------------------------------
#wrapper {
	margin-bottom: 40px;
	margin-top: -50px;
	@media (max-width: 767px) {
		margin-top: 0;
	}
	&.homepage {
		margin-bottom: 0;
	}
}

.homepage {
	.section {
		margin-bottom: 0;
		padding-bottom: 40px;
		.title-section {
			margin-bottom: 20px;
			h2, h3 {
				margin-bottom: 0;
				font-weight: 700;
				letter-spacing: 2px;
			}
			h2 {
				font-size: 28px;
			}
			h3 {
				font-size: 24px;
			}
		}
		h2, h3 {
			color: $color-main;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 0;
			font-size: 24px;
			letter-spacing: 0.5px;
			line-height: 1.3;
		}

		&.main-slider {
			position: relative;
			margin-bottom: 30px;
			.booking-box {
				width: 100%;
				bottom: 0;
				left: 0;
				z-index: 6;
				position: absolute;
				background: $color-main;
				padding: 10px 0;
				@media(max-width: 767px) {
					position: relative;
					padding-bottom: 30px;
					border-bottom: 1px solid $color-light-grey;
				}

				a {
					color: $color-yellow;
				}

				.box-logo {
					width: 150px;
			    display: block;
			    padding: 17.5px 0;
			    margin: 0 auto;
			    text-align: center;
					@media (min-width: 1024px) {
						width: auto;
					}
					img {
						height: 35px;
						@media (min-width: 1025px) {
							height: auto;
							width: 100%;
						}
					}
				}
				h2 {
					color: $color-white;
					&.visible-xs {
						color: $color-dark-grey;
						font-size: 20px;
						margin-top: 20px;
						text-transform: uppercase;
					}
				}
				.main-booking {
					background: $color-light-grey;
					padding: 0 15px;
					@media(max-width: 767px) {
						background: $color-white;
					}

					.fields {
						padding-top: 10px;
						input, select {
							border-radius: 0px;
							@media(max-width: 767px) {
								border-radius: 3px;
							}
						}
						.field {
							@media(max-width: 767px) {
								margin-bottom: 10px;
							}
						}
					}
					.booking-powered-by {
						margin-top: 0;
						img {
							height: 35px;
						}
					}
				}

				#datepicker {
					.field {
						.field-inner {
							position: relative;
							span {
								position: absolute;
								padding-left: 8px;
								top: 9px;
								font-size: 12px !important;
								@media(max-width: 767px) {
									font-size: 11px !important;
								}
							}
							input[type="text"] {
								text-align: right;
								font-size: 12px !important;
								background: $color-white;
								padding: 6px 8px;
								-webkit-box-shadow: none;
								-ms-box-shadow: none;
    						box-shadow: none;
								@media(max-width: 767px) {
									padding: 6px 5px;
									font-size: 11px !important;
								}
							}
						}
						&:first-child {
							padding-right: 0;
							@media(max-width: 767px) {
								padding-right: 15px
							}
						}
						&:last-child {
							padding-left: 0;
							@media(max-width: 767px) {
								padding-left: 15px;
								padding-right: 15px;
							}
						}
					}
				}

				#totalnumber {
					.form-group {
						&:after {
							content: '';
							display: table;
							clear: both;
						}
					}
					.field {
						&:first-child {
							padding-right: 2px;
							@media(max-width: 767px) {
								padding-right: 15px;
							}
						}
						&:last-child {
							padding-left: 2px;
							@media(max-width: 767px) {
								padding-left: 15px;
							}
						}
						.field-inner {
							position: relative;
							background: $color-white;
							@media(max-width: 767px) {
								border-radius: 3px;
    						overflow: hidden;
								float: right;
								width: calc(50% - 15px);
							}
							> input {
								float: left;
								&.qty {
									width: 40%;
									background: $color-white;
									text-align: center;
									border-radius: 0;
									-webkit-box-shadow: none;
									-ms-box-shadow: none;
	    						box-shadow: none;
								}
							}
							> button {
								float: left;
								&.qtyminus, &.qtyplus {
									width: 30%;
									background: $color-main;
									color: $color-white;
									text-align: center;
									border: 0;
    							outline: none;
									height: 34px;
								}
							}
						}
					}
				}

				button {
					width: 100%;
					@media(min-width:1025px){
						height: 34px;
					}
				}

				label, p {
					font-weight: normal;
					font-size: 11px;
					margin-bottom: 3px;
					color: $color-white;
					text-transform: uppercase;
					@media(max-width: 767px) {

					}
				}
				@media(max-width: 767px) {
					label {
						display: inline-block;
						line-height: 34px;
						margin-bottom: 0;
					}
				}
			}
		}
		&.deals {
			.outer-deals {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					left: 10px;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						left: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
				}
				.outer-image-thumb {
					float: right;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						.image-thumb {
							position: relative;
							padding-bottom: 80%;
							overflow: hidden;
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
				}
			}
		}
		&.about-us {
			.outer-about-us {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					right: 0;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						right: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
					p {
						margin-top: 10px;
					}
				}
				.outer-image-thumb {
					float: left;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						.image-thumb {
							position: relative;
							padding-bottom: 56.25%;
							overflow: hidden;
							@media (min-width: 768px)and(max-width: 1024px) {
								padding-bottom: 80%;
								img {
									height: 100% !important;
									width: auto !important;
								}
							}
							img {
								height: auto;
								width: 100%;
								max-width: none;
								@include absolute-center;
							}
						}
					}
				}
			}
		}
		&.room {
			.outer-room {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					left: 10px;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						left: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
					p {
						margin-top: 10px;
					}
				}
				.outer-image-thumb {
					float: right;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						margin-bottom: 30px;
						.image-thumb {
							display: block;
							position: relative;
							padding-bottom: 80%;
							overflow: hidden;
							.label-room {
								background: $color-main-transparent;
								color: $color-white;
								width: 60%;
								position: absolute;
								right: 0;
								top: 20px;
								padding: 5px 10px;
								font-weight: 500;
								z-index: 3;
								font-size: 12px;
								p {
									line-height: 1.4;
									margin-bottom: 0;
									&.start-price {
										font-style: italic;
										span {
											font-weight: 400;
											color: $color-main-second;
										}
									}
								}
							}
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
				}
			}
		}
		&.facilities {
			.outer-facilities {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					right: 10px;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						right: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
					p {
						margin-top: 10px;
					}
				}
				.outer-image-thumb {
					float: left;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						margin-bottom: 30px;
						.image-thumb {
							position: relative;
							padding-bottom: 80%;
							overflow: hidden;
							.label-facilities {
								background: $color-main-second-transparent;
								color: $color-white;
								width: 50%;
								position: absolute;
								left: 0;
								bottom: 20px;
								padding: 10px 20px;
								font-weight: 500;
								z-index: 3;
								font-size: 12px;
								p {
									line-height: 1.4;
									margin-bottom: 0;
									text-transform: uppercase;
								}
							}
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
				}
			}
		}
		&.gallery {
			.outer-gallery {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					left: 10px;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						left: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
					p {
						margin-top: 10px;
					}
				}
				.outer-image-thumb {
					float: right;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						margin-bottom: 30px;
						.image-thumb {
							position: relative;
							padding-bottom: 80%;
							overflow: hidden;
							&:hover {
								img {
									height: 120%;
								}
							}
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
								@include transition;
							}
						}
					}
				}
			}
		}
		&.location {
			.outer-location {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					right: 0;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						right: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
					p {
						margin-top: 10px;
					}
				}
				.outer-image-thumb {
					float: left;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						.image-thumb {
							position: relative;
							overflow: hidden;
						}
					}
				}
			}
		}
		&.blog {
			.outer-blog {
				position: relative;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.outer-content-title {
					width: 30%;
					left: 10px;
					@media (min-width: 768px) {
						@include absolute-center-v;
					}
					@media (max-width: 767px) {
						width: auto;
						position: relative;
						margin-bottom: 10px;
						left: 0;
					}
					.outer-title {
						.title {
							text-align: center;
							background: $color-light-blue;
							position: relative;
							height: 100px;
							line-height: 100px;
							&:before {
								content: '';
								position: absolute;
								width: 100%;
								height: 100%;
								left: -10px;
								top: -10px;
								border: 2px solid $color-main;
							}
							h2 {
								line-height: 100px;
								padding: 0 10px;
							}
						}
					}
					p {
						margin-top: 10px;
					}
				}
				.outer-image-thumb {
					float: right;
					width: 65%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					&:after {
						content: '';
						display: table;
						clear: both;
					}
					.list-image-thumb {
						margin-bottom: 30px;
						.image-thumb {
							position: relative;
							padding-bottom: 80%;
							overflow: hidden;
							.label-blog {
								background: $color-main-transparent;
								color: $color-white;
								width: 80%;
								position: absolute;
								right: 0;
								bottom: 0;
    						padding: 10px 15px;
								z-index: 3;
								font-size: 12px;
								p {
									line-height: 1.4;
									margin-bottom: 0;
									&.blog-title {
										text-transform: uppercase;
										font-weight: 500;
										text-overflow: ellipsis;
								    overflow: hidden;
								    white-space: nowrap;
									}
									&.time {
										font-style: italic;
										font-size: 10px;
									}
								}
							}
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
				}
			}
		}
		&.testimonial {
			background-position: center;
			background-size: cover;
			min-height: 400px;
			position: relative;
			padding-bottom: 0 !important;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: $color-main-transparent;
			}
			.outer-testimonial {
				padding: 50px 0;
				.list-testimonial {
					background: rgba(0,0,0,0.2);
					position: relative;
					padding: 20px 35px;
					h2 {
						max-width: 500px;
						margin-left: auto;
						margin-right: auto;
						border-bottom: 2px solid $color-white;
						text-align: center;
						color: $color-white;
						padding-bottom: 20px;
						margin-bottom: 30px;
						font-size: 32px;
    				font-weight: 300;
					}
					.owl-carousel {
						.owl-slide {
							padding-bottom: 30px !important;
							min-height: 0 !important;
							height: auto !important;
							&:after {
								display: none !important;
							}
							.text-testimonial {
								color: $color-white;
							}
						}
						.owl-nav {
							display: none;
						}
						.owl-dots {
							position: absolute;
							left: 50%;
							bottom: 0;
							-webkit-transform: translate(-50%, 0);
							-ms-transform: translate(-50%, 0);
							-o-transform: translate(-50%, 0);
							transform: translate(-50%, 0);
							text-align: center;
							.owl-dot {
								display: inline-block;
								padding: 3px;
								span {
									width: 10px;
									height: 10px;
									background: $color-transparent-white;
									display: block;
									border-radius: 100%;
								}
								&.active, &:hover {
									span {
										background: $color-white;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Pages
// -----------------------------------------------------------------------------
.singlepage {
	margin-bottom: 60px !important;
	.hero-image {
		position: relative;
		padding-bottom: 40%;
		background-size: cover !important;
		background-position: center !important;
		overflow: hidden;
		min-height: 350px;
		.container {
			position: relative;
			// .booking-box {
			// 	position: absolute;
			// 	width: 90%;
			// 	max-width: 400px;
			// 	top: 0;
			// 	right: 15px;
			// 	z-index: 999;
			// 	@media(max-width: 767px) {
			// 		position: static;
			// 		width: 100%;
			// 		max-width: 100%;
			// 		padding-bottom: 30px;
			// 	}
			// 	.panel-group {
			// 		margin-bottom: 0;
			// 		.panel-default {
			// 			border-color: transparent;
			// 			border: 0;
			// 			background-color: transparent;
			// 			.panel-heading {
			// 				padding: 0;
			// 				border-color: transparent;
			// 				background: $color-transparent-dark;
			// 				border-radius: 0;
			// 				a {
			// 					display: block;
			// 					padding: 10px;
			// 					font-size: 24px;
			// 					text-transform: uppercase;
			// 					font-weight: 400;
			// 					letter-spacing: 0.5px;
			// 					text-decoration: none;
			// 					color: $color-white;
			// 					text-align: center;
			// 					position: relative;
			// 					&:after {
			// 						font-family: 'FontAwesome';
			// 						content: '\f107';
			// 						position: absolute;
			// 						right: 15px;
			// 						top: 8px;
			// 						font-size: 28px;
			// 						color: $color-white;
			// 					}
			// 				}
			// 			}
			// 			.panel-body {
			// 				padding: 0;
			// 				border-top-color: transparent;
			// 			}
			// 		}
			// 	}
      //
			// 	a {
			// 		color: $color-main;
			// 	}
      //
			// 	.box-logo {
			// 		width: auto;
			// 		display: inline-block;
			// 		padding: 5px 10px;
			// 		background: rgba(0,0,0,.7);
			// 		img {
			// 			height: 35px;
			// 		}
			// 	}
			// 	h2 {
			// 		&.visible-xs {
			// 			color: $color-dark-grey;
			// 			font-size: 20px;
			// 			margin-top: 20px;
			// 			text-transform: uppercase;
			// 		}
			// 	}
			// 	.main-booking {
			// 		background: $color-white;
			// 		padding: 10px 15px;
			// 		margin-top: 5px;
			// 		@media(max-width: 767px) {
			// 			background: $color-white;
			// 		}
      //
			// 		.fields {
			// 			.form-group {
			// 				margin-bottom: 5px;
			// 			}
			// 			input, select {
			// 				border-radius: 0px;
			// 				@media(max-width: 767px) {
			// 					border-radius: 3px;
			// 				}
			// 			}
			// 			> .field {
			// 				margin-bottom: 10px;
			// 			}
			// 		}
			// 		.booking-powered-by {
			// 			margin-top: 0;
			// 			img {
			// 				height: 35px;
			// 			}
			// 		}
			// 	}
      //
			// 	#datepicker {
			// 		.field {
			// 			.field-inner {
			// 				position: relative;
			// 				span {
			// 					position: absolute;
			// 					padding-left: 8px;
			// 					top: 9px;
			// 					font-size: 12px !important;
			// 					@media(max-width: 767px) {
			// 						font-size: 11px !important;
			// 					}
			// 				}
			// 				input[type="text"] {
			// 					font-size: 12px !important;
			// 					background: $color-white;
			// 					padding: 6px 8px;
			// 					-webkit-box-shadow: none;
			// 					-ms-box-shadow: none;
			// 					box-shadow: none;
			// 					@media(max-width: 767px) {
			// 						padding: 6px 5px;
			// 						font-size: 11px !important;
			// 					}
			// 				}
			// 			}
			// 			&:first-child {
			// 				padding-right: 5px;
			// 				@media(max-width: 767px) {
			// 					padding-right: 15px
			// 				}
			// 			}
			// 			&:last-child {
			// 				padding-left: 5px;
			// 				@media(max-width: 767px) {
			// 					padding-left: 15px;
			// 					padding-right: 15px;
			// 				}
			// 			}
			// 		}
			// 	}
      //
			// 	#totalnumber {
			// 		.form-group {
			// 			&:after {
			// 				content: '';
			// 				display: table;
			// 				clear: both;
			// 			}
			// 		}
			// 		.field {
			// 			&:first-child {
			// 				padding-right: 5px;
			// 				@media(max-width: 767px) {
			// 					padding-right: 15px;
			// 				}
			// 			}
			// 			&:last-child {
			// 				padding-left: 5px;
			// 				@media(max-width: 767px) {
			// 					padding-left: 15px;
			// 				}
			// 			}
			// 			.field-inner {
			// 				position: relative;
			// 				background: $color-white;
			// 				@media(max-width: 767px) {
			// 					border-radius: 3px;
			// 					overflow: hidden;
			// 					float: right;
			// 					width: calc(50% - 15px);
			// 				}
			// 				> input {
			// 					float: left;
			// 					&.qty {
			// 						width: 40%;
			// 						background: $color-white;
			// 						text-align: center;
			// 						border-radius: 0;
			// 						-webkit-box-shadow: none;
			// 						-ms-box-shadow: none;
			// 						box-shadow: none;
			// 					}
			// 				}
			// 				> button {
			// 					float: left;
			// 					&.qtyminus, &.qtyplus {
			// 						width: 30%;
			// 						background: $color-main;
			// 						color: $color-white;
			// 						text-align: center;
			// 						border: 0;
			// 						outline: none;
			// 						height: 34px;
			// 					}
			// 					&:hover {
			// 						background: $color-main-dark;
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
      //
			// 	button {
			// 		width: 100%;
			// 		@media(min-width:1025px){
			// 			height: 34px;
			// 		}
			// 	}
      //
			// 	label, p {
			// 		font-weight: normal;
			// 		font-size: 12px;
			// 		@media(max-width: 767px) {
			// 			color: $color-dark-grey;
			// 		}
			// 	}
			// 	@media(max-width: 767px) {
			// 		label {
			// 			display: inline-block;
			// 			line-height: 34px;
			// 			margin-bottom: 0;
			// 		}
			// 	}
			// }
		}
	}
	.section {
		.title-section {
			margin-bottom: 20px;
			h2, h3 {
				margin-bottom: 0;
				font-weight: 700;
				letter-spacing: 2px;
			}
			h2 {
				font-size: 28px;
			}
			h3 {
				font-size: 24px;
			}
		}
		h2, h3 {
			color: $base-color;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 25px;
			font-size: 24px;
			letter-spacing: 0.5px;
			line-height: 1.3;
		}
	}
	.section {
		&.home-gallery {
			padding-top: 50px;
			.outer-gallery {
				&:after {
					content: '';
					display: table;
					clear: both;
				}
				.list-gallery {
					float: left;
					width: 50%;
					@media (max-width: 767px) {
						float: none;
						width: auto;
					}
					.outer-gallery {
						position: relative;
						padding-bottom: 70%;
						overflow: hidden;
						&:hover {
							img {
								height: 110%;
							}
						}
						img {
							height: 100%;
							width: auto;
							max-width: none;
							@include absolute-center;
							-webkit-transition: all .5s ease;
							-ms-transition: all .5s ease;
							-o-transition: all .5s ease;
							transition: all .5s ease;
						}
					}
				}
			}
		}
		&.home-facilities {
			background: $color-white;
			padding-top: 50px;
			.outer-facilities {
				.list-facilities {
					position: relative;
					.owl-carousel {
						.owl-slide {
							padding-bottom: 80% !important;
							min-height: 0 !important;
							&:after {
								background: transparent !important;
							}
						}
						.owl-nav {
							display: none;
						}
						.owl-dots {
							position: absolute;
							left: 50%;
							bottom: 0;
							-webkit-transform: translate(-50%, 0);
							-ms-transform: translate(-50%, 0);
							-o-transform: translate(-50%, 0);
							transform: translate(-50%, 0);
							text-align: center;
							.owl-dot {
								display: inline-block;
								padding: 3px;
								span {
									width: 10px;
									height: 10px;
									background: $color-transparent-white;
									display: block;
									border-radius: 100%;
								}
								&.active, &:hover {
									span {
										background: $color-white;
									}
								}
							}
						}
					}
					&:nth-child(odd) {
						.img {
							float: right;
							@media (max-width: 767px) {
								float: none;
							}
						}
						.text {
							right: auto;
							left: 0;
							.outer-text {
								padding: 40px 30% 40px 35px;
								@media (max-width: 767px) {
									padding: 30px;
								}
							}
						}
					}
					&:after {
						display: table;
						content: '';
						clear: both;
					}
					.img {
						float: left;
						width: 50%;
						@media (max-width: 767px) {
							float: none;
							width: auto;
						}
						.outer-img {
							// position: relative;
							// padding-bottom: 80%;
							// overflow: hidden;
							.main-slider {
								margin-bottom: 0;
							}
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
					.text {
						width: 65%;
						border: 2px solid $color-main;
						right: 0;
						z-index: 9;
						@media (min-width: 768px) {
							@include absolute-center-v;
						}
						@media (max-width: 767px) {
							width: 100%;
						}
						.outer-text {
							padding: 40px 35px 40px 30%;
							@media (max-width: 767px) {
								padding: 30px;
							}
							p {
								line-height: 1.5;
								font-size: 16px;
								text-align: justify;
							}
							a {
								margin-top: 10px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
		&.home-room {
			padding-top: 50px;
			.outer-room-list {
				.list-room {
					position: relative;
					overflow: hidden;
					&:nth-child(even) {
						.img {
							float: right;
							@media (max-width: 767px) {
								float: none;
							}
						}
						.text {
							right: auto;
							left: 0;
							.outer-text {
								padding: 40px 30% 40px 35px;
								@media (max-width: 767px) {
									padding: 30px;
								}
							}
						}
					}
					&:after {
						display: table;
						content: '';
						clear: both;
					}
					.img {
						float: left;
						width: 50%;
						@media (max-width: 767px) {
							float: none;
							width: auto;
						}
						.outer-img {
							position: relative;
							padding-bottom: 80%;
							overflow: hidden;
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
					.text {
						width: 65%;
						border: 2px solid $color-main;
						right: 0;
						@media (min-width: 768px) {
							@include absolute-center-v;
						}
						@media (max-width: 767px) {
							width: 100%;
						}
						.outer-text {
							padding: 40px 35px 40px 30%;
							@media (max-width: 767px) {
								padding: 30px;
							}
							p {
								line-height: 1.5;
								font-size: 16px;
								text-align: justify;
							}
							a {
								margin-top: 10px;
								font-weight: 400;
							}
						}
					}
				}
				&.room-details {
					.list-room {
						.owl-carousel {
							.owl-slide {
								padding-bottom: 80% !important;
								min-height: 0 !important;
								&:after {
									background: transparent !important;
								}
							}
							.owl-nav {
								display: none;
							}
							.owl-dots {
								position: absolute;
								left: 50%;
								bottom: 0;
								-webkit-transform: translate(-50%, 0);
								-ms-transform: translate(-50%, 0);
								-o-transform: translate(-50%, 0);
								transform: translate(-50%, 0);
								text-align: center;
								.owl-dot {
									display: inline-block;
									padding: 3px;
									span {
										width: 10px;
										height: 10px;
										background: $color-transparent-white;
										display: block;
										border-radius: 100%;
									}
									&.active, &:hover {
										span {
											background: $color-white;
										}
									}
								}
							}
						}
						.img {
							.outer-img {
								padding-bottom: 0;
							}
						}
						.text {
							z-index: 6;
						}
					}
					.room-description {
						margin-top: 30px;
						ul {
							margin: 0;
							padding: 0;
							list-style-type: none;
							font-size: 0;
							@media (min-width: 768px) {
								width: 75%;
							}
							li {
								display: inline-block;
								width: 50%;
								margin-bottom: 10px;
								@media (max-width: 767px) {
									display: block;
									width: auto;
								}
								h4 {
									font-size: 20px;
									text-transform: uppercase;
									margin-bottom: 3px;
								}
								p {
									text-transform: uppercase;
									font-size: 14px;
									font-style: italic;
									color: $color-grey;
									margin-bottom: 0;
								}
							}
						}
					}
					.other-rooms {
						margin-top: 30px;
						&:after {
							content: '';
							display: table;
							clear: both;
						}
						.list-room {
							float: left;
							width: 33.333%;
							@media (max-width: 767px) {
								float: none;
								width: auto;
							}
							.outer-img {
								position: relative;
								padding-bottom: 100%;
								overflow: hidden;
								img {
									height: 100%;
									width: auto;
									max-width: none;
									@include absolute-center;
								}
							}
							.room-name {
								margin-top: -80px;
								padding: 0 30px 30px;
								position: relative;
								z-index: 3;
								.outer-room-name {
									padding: 100px 20px 20px;
									border: 2px solid $color-main;
									h4 {
										text-transform: uppercase;
										font-size: 26px;
										margin-bottom: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
		&.contact {
			padding-top: 50px;
			.form-contact {
				padding-top: 50px;
				padding-bottom: 50px;
				.contact-address {
					.contact-item{
						margin-bottom: 20px;
						&:after {
							content: '';
							display: table;
							clear: both;
						}
						.box-icon {
							float: left;
							width: 20px;
						}
						p {
							margin-bottom: 0;
							overflow: hidden;
						}
					}
				}
				.contact-form {
					.row {
						margin-bottom: 10px;
					}
					.btn-main {
						display: block !important;
						width: 100% !important;
						max-width: none !important;
					}
				}
			}
			.map {
				margin-bottom: -60px;
			}
		}
		&.location {
			padding-top: 50px;
			.outer-home-location {
				.list-location {
					position: relative;
					&:after {
						display: table;
						content: '';
						clear: both;
					}
					.img {
						float: right;
						width: 50%;
						@media (max-width: 767px) {
							float: none;
							width: auto;
						}
						.outer-img {
							position: relative;
							// padding-bottom: 80%;
							overflow: hidden;
							img {
								height: 100%;
								width: auto;
								max-width: none;
								@include absolute-center;
							}
						}
					}
					.text {
						width: 65%;
						border: 2px solid $color-main;
						right: auto !important;
						left: 0;
						@media (min-width: 768px) {
							@include absolute-center-v;
						}
						@media (max-width: 767px) {
							width: 100%;
						}
						.outer-text {
							padding: 40px 30% 40px 35px ;
							@media (max-width: 767px) {
								padding: 30px;
							}
							p {
								line-height: 1.5;
								font-size: 16px;
								text-align: justify;
							}
							a {
								margin-top: 10px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}


// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------

.owl-carousel {
	position: relative;
	height: 100%;

	// div:not(.owl-controls) {
	// 	height: 100%;
	// }

	.owl-slide {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 90vh;
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	div.owl--text {
		position: absolute;
		bottom: 4em;
		left: 2em;
		width: 20em;
		height: 8em;
		padding: 1em;
		background: rgba(255, 255, 255, .5);
		border-radius: 4px;
	}

	.owl-nav {
		position: absolute;
		top: 40%;
		left: 20px;
		right: 20px;
		@media(max-width: 767px){
			top: 45%;
		}
		.owl-prev {
			float: left;
		}
		.owl-next {
			float: right;
		}
		i {
			color: $color-white;
			font-size: 40px;
			opacity: 0.5;
		}
	}
	.deals-slide {
		.owl-prev {
			float: left;
			&:before {
				font-family: 'FontAwesome';
				content: '\f104';
				font-size: 28px;
				color: $color-white;
			}
		}
		.owl-next {
			float: right;
			&:before {
				font-family: 'FontAwesome';
				content: '\f105';
				font-size: 28px;
				color: $color-white;
			}
		}
		i {
			color: $color-white;
			font-size: 40px;
		}
	}
}

#wrapper {
	&.homepage {
		.owl-carousel {
			.owl-slide {
				padding-bottom: calc(100vh - 70px);
				min-height: 400px;
				@media(max-width: 767px) {
					padding-bottom: 60vh;
				}
				&:after {
					content: '';
					position: absolute;
					height: 100%;
					width: 100%;
					background: $color-transparent-dark;
					@media (max-width: 992px) {
						background: transparent;
					}
				}
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
.main-footer {
	background-color: $color-dark-grey;
	box-shadow: 0px 0px 50px $color-light-grey;
	margin-top: 50px;

	ul {
		list-style: none;
		padding-left: 0;
	}

	.footer-link {
		background: $color-main-second;
		padding: 30px 0;
		font-size: 12px;
		@media (max-width: 767px) {
			text-align: center;
		}
		.logo-footer {
			max-width: 130px;
			margin-bottom: 30px;
			@media (max-width: 767px) {
				margin-left: auto;
				margin-right: auto;
			}
			img {
				width: 100%;
			}
		}
		.address-footer {
			@media (max-width: 767px) {
				text-align: center;
			}
			p {
				color: $color-white;
			}
		}
		.social-footer {
			text-align: right;
			@media (max-width: 767px) {
				text-align: center;
			}
			h3 {
				text-align: right;
				@media (max-width: 767px) {
					text-align: center;
				}
			}
			ul {
				font-size: 0;
				margin: 0 -7px;
				display: inline-block;
				li {
					display: inline-block;
					padding: 5px;
					a {
						display: block;
						height: 40px;
						width: 40px;
						text-align: center;
						color: $color-white;
						background: $color-main;
						-webkit-border-radius: 100%;
						-ms-border-radius: 100%;
						border-radius: 100%;
						i {
							line-height: 40px;
							font-size: 20px;
						}
						&:hover {
							background: $color-main-dark;
						}
					}
				}
			}
		}
		h3 {
			font-size: 15px;
			color: $color-white;
			margin-bottom: 15px;
		}
		.outer-menu-footer {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					a {
						display: block;
						color: $color-very-light-grey;
						padding: 2px 0;
						&:hover {
							color: $color-light-grey;
						}
					}
				}
			}
		}
	}

	.footer-info {
		padding: 15px;
		p {
			margin-bottom: 0;
			color: $color-very-light-grey;
			font-size: 12px;
			text-align: center;
		}
	}
}

// slider slick style on single page
.slick-prev, .slick-next {
	line-height: normal;
	height: auto;
	width: auto;
}
.bigslide {
	.item {
		> span {
			display: block;
			position: relative;
			padding-bottom: 50%;
			min-height: 300px;
			@media(max-width: 1024px){
				padding-bottom: 100vh
			}
			img {
				position: absolute;
				height: auto;
				width: 100%;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				@media(max-width: 1024px){
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
.global-thumbimg {
	margin-top: 20px !important;
}

// Mobile menu
.mobmenu {
  @media(min-width: 1025px){
    display: none;
  }

  position: absolute;
  top: 6px;
  right: 10px;
  line-height: 20px;

  .user-form {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    i {
      font-size: 26px;
      color: $color-dark-grey;
    }
  }
}
.toggleMenu {
  background: transparent;
  border: 1px solid $color-white;
  color: $color-white!important;
  display:  none;
  font-size: 20px;
  padding: 7px 10px;
}
#desknav {
  @media(max-width: 1024px) {
    .nav, .toggleMenu {
      display: none!important;
    }
  }
}
.sidenav {
  @media(min-width:1152px) {
    display: none;
  }

  @media(max-width: 1024px) {
    display: block;
  }

  background: rgba(0,0,0, .7);
  height: 100%;
  overflow-x: hidden;
  left: 0;
  top: 0;
  transition: 0.5s;
  position: fixed;
  width: 0;
  z-index: 999 !important;

  a {
    color: $color-dark-grey!important;
    display: block;
    font-size: 12px;
    padding: 0px;
    text-decoration: none;
    transition: 0.3s;
    line-height: 38px;

    @media(max-width: 767px) {
      line-height: 38px!important;
    }
  }

	li {
		a {
			@media(max-width: 1024px) {
				font-size: 14px;
				border-bottom: 1px solid $color-light-grey;
				text-transform: uppercase;
			}
		}
	}
	li {
		&.has-submenu {
			ul {
				li {
					a {
						@media(max-width: 1024px) {
							line-height: 20px !important;
							padding: 5px 10px !important;
						}
					}
				}
			}
		}
	}

  .closebtn {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 80px;
    color: $color-dark-grey!important;
		padding: 0 5px;
  }

  .monav {
    > li {
      // border-bottom: 1px solid $color-white;
      display: block;
      position: relative;

			&:first-child {
				a {
					border-top: 1px solid $color-light-grey;
				}
			}

      .sub-menu {
				padding-left: 0;
        max-height: 0;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
      &.shrink {
        > .sub-menu {
          max-height: 200em;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;

          a {
						padding-left: 20px;
						background: rgba(0,0,0,0.03)
          }
        }
      }
      i {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 10px;
        line-height: 38px;
        color: $color-dark-grey;
        cursor: pointer;
        height: 38px;
				font-size: 20px;
      }
    }
  }
}
#mobinav {
  .mobinav-inner {
    width: auto;
    background: $color-white;
    height: 100%;
    margin-right: 70px;
    color: $color-dark-grey;
		padding: 50px 15px;
		.monav {
			padding-left: 0;
			margin-bottom: -1px;
		}

    &.default {
      .intro {
        background: $color-light-grey;
        padding: 15px 10px;
        text-align: center;
        span {
          text-transform: uppercase;
          display: block;
          margin-bottom: 5px;
        }
        a {
          margin: 0 10px;
          color: $color-white!important;
          border-radius: 3px;
          -webkit-border-radius: 3px;
        }
      }
      .monav {
        a {
          i {
            position: relative;
            color: $color-dark-grey!important;
          }
        }
        .line-top {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid $color-light-grey;
        }
        .line-bottom {
          margin-bottom: 10px;
          border-bottom: 1px solid $color-light-grey;
        }
      }
    }
    &.login {
      .monav {
        .mobprofile {
          padding: 15px 10px;
          background: $color-light-grey;
          .nav-profile {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// bootstrap nav menu break point
@media (max-width: 1024px) {
	.navbar-header {
		float: left;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
		float: left;
		padding: 0;
		border: 0;
		margin-top: 14px;
    margin-bottom: 14px;
		.icon-bar {
			width: 30px;
			height: 3px;
			border-radius: 0;
			background-color: $color-main!important;
			margin-bottom: 2.5px;
			margin-top: 2.5px;
		}
		@media(max-width: 767px){
			margin-left: 15px;
		}
		&:focus {
			background-color: transparent!important;
		}
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none !important;
		display: block !important;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}
