.theme-2 {
	header {
		background: $color-main-transparent !important;
		@include transition;
		&.scrolled {
			background: rgba(255,255,255,0.9) !important;
			.navbar {

			}
		}
		.top-section {
			text-align: center;
			.logo {
				float: none !important;
				img {
					height: 25px;
				}
			}
			.address {
				float: none !important;
				margin-left: 0;
				h1 {
					font-size: 12px;
					margin-bottom: 2px;
				}
				h4 {
					font-size: 11px;
				}
			}
		}
		.navbar {

		}
	}
	.homepage {
		.section {
			padding-bottom: 50px;
			&.deals {
				.outer-deals {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
					}
				}
			}
			&.about-us {
				.outer-about-us {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						&.bottom {
							width: 100%;
							max-width: 600px;
							text-align: center;
							margin-top: 20px;
							p {
								margin-top: 10px;
								margin-bottom: 20px;
							}
						}
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
						.list-image-thumb {
							.image-thumb {
								padding-bottom: 30%;
							}
						}
					}
				}
			}
			&.room {
				.outer-room {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						&.bottom {
							width: 100%;
							max-width: 600px;
							text-align: center;
							margin-top: 0;
							p {
								margin-top: 0;
								margin-bottom: 20px;
							}
						}
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
						.list-image-thumb {
							.image-thumb {
								display: block;
								.label-room {
									@include absolute-center;
									width: 50%;
									text-align: center;
									padding: 20px 30px;
									.room-name {
                    position: relative;
                    padding-bottom: 10px;
                    &:before {
                      content: '';
                      height: 1.5px;
                      width: 30px;
                      background: $color-light-grey;
                      @include absolute-center-h;
                      bottom: 5px;
                    }
                  }
								}
							}
						}
					}
				}
			}
			&.facilities {
				.outer-facilities {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						&.bottom {
							width: 100%;
							max-width: 600px;
							text-align: center;
							margin-top: 0;
							p {
								margin-top: 0;
								margin-bottom: 20px;
							}
						}
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
						.list-image-thumb {
							.image-thumb {


							}
						}
					}
				}
			}
			&.gallery {
				.outer-gallery {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						&.bottom {
							width: 100%;
							max-width: 600px;
							text-align: center;
							margin-top: 0;
							p {
								margin-top: 0;
								margin-bottom: 20px;
							}
						}
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
						.list-image-thumb {
							.image-thumb {


							}
						}
					}
				}
			}
			&.location {
				.outer-location {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						&.bottom {
							width: 100%;
							max-width: 600px;
							text-align: center;
							margin-top: 20px;
							p {
								margin-top: 10px;
								margin-bottom: 20px;
							}
						}
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
						.list-image-thumb {
							.image-thumb {
							}
						}
					}
				}
			}
			&.blog {
				.outer-blog {
					.outer-content-title {
						margin-left: auto;
						margin-right: auto;
						min-width: 250px;
						position: relative;
						margin-bottom: 20px;
						left: auto;
						top: auto;
						-webkit-transform: none;
						-ms-transform: none;
						-o-transform: none;
						transform: none;
						&.bottom {
							width: 100%;
							max-width: 600px;
							text-align: center;
							margin-top: 0;
							p {
								margin-top: 0;
								margin-bottom: 20px;
							}
						}
						.outer-title {
							.title {
								height: 80px;
								line-height: 80px;
								h2 {
									line-height: 80px;
								}
							}
						}
					}
					.outer-image-thumb {
						float: none;
						width: auto;
						.list-image-thumb {
							.image-thumb {
								.label-blog {
									width: 70%;
									left: 0;
									right: auto;
								}
							}
						}
					}
				}
			}
			&.testimonial {
				padding-bottom: 0 !important;
				.outer-testimonial {
					padding: 50px 60px;
				}
			}
		}
	}
	.main-footer {
		.footer-link {
			[class*="col-"] {
				&:first-child {
					@media (min-width: 768px) {
						float: right !important;
					}
				}
			}
			.logo-footer {
				max-width: 100%;
			}
			.social-footer {
				@media (min-width: 768px) {
					text-align: left !important;
					h3 {
						text-align: left !important;
					}
				}
			}
		}
	}
}
