<div class="mobmenu">
  <div id="mobinav" class="sidenav">
    <div class="mobinav-inner login">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <ul class="monav">
        <!-- menu from top-nav -->
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">LOCATION</a></li>
        <li><a href="#">POSTS</a></li>
        <li><a href="#">TESTIONIAL</a></li>
        <!-- end menu from top-nav -->
      </ul>
      <ul class="monav">
        <li class="line-top"><a href="index.html">Home</a></li>
        <li class="has-submenu line-top"><a href="page-rooms.html"><span>Rooms</a></span>
          <ul class="sub-menu">
            <li><a href="page-room-details.html">Deluxe Twin Room (2 Single Beds)</a></li>
            <li><a href="page-room-details.html">Premier King Room (1 King-size Bed)</a></li>
            <li><a href="page-room-details.html">Premier Twin Room (2 Single Beds)</a></li>
            <li><a href="page-room-details.html">Junior Suite (1 King-size Bed)</a></li>
            <li><a href="page-room-details.html">Executive Suite (1 King-size Bed)</a></li>
            <li><a href="page-room-details.html">President Suite (1 King-size Bed)</a></li>
          </ul>
        </li>
        <li class="has-submenu line-top"><a href="page-facilities.html"><span>Facilities</a></span>
          <ul class="sub-menu">
            <li><a href="#">Verandah Restaurant</a></li>
            <li><a href="#">Verandah Alfresco</a></li>
            <li><a href="#">Jogja Night Market</a></li>
          </ul>
        </li>
        <li><a href="page-gallery.html">Gallery</a></li>
        <li><a href="page-contact.html">Contact</a></li>
      </ul>
    </div>
  </div><!-- end .mobinav -->
  <span class="icon-list-add mobico" onclick="openNav()"></span>
</div><!-- end .mobmenu -->
<footer class="main-footer">
  <div class="footer-link">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo-footer">
            <img src="asset/img/logo-hotel.png" alt="">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="address-footer">
            <h3>Sample Resort and Spa</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>Phone: 0274 0099887</p>
            <p>Fax: 349 878 757</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="outer-menu-footer">
            <h3>Page Site</h3>
            <ul>
              <li><a href="">DEALS</a></li>
              <li><a href="">ROOMS</a></li>
              <li><a href="">FACILITIES</a></li>
              <li><a href="">GALLERY</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="social-footer text-right">
            <h3>Follow Us</h3>
            <ul class="text-right">
              <li><a href="#" class="icn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="icn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="icn-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- end  .container -->
  </div><!-- end .footer-content -->
  <div class="footer-info">
    <div class="container">
      <p class="verticent-inner">&copy; 2018 Lorem Ipsum Hotel. All Rights Reserved.</p>
    </div>
  </div><!-- end .footer-info -->
</footer>
