<header>
  <!-- <div class="nav-top">
    <div class="container">
      <ul>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">LOCATION</a></li>
        <li><a href="#">POSTS</a></li>
        <li><a href="#">TESTIONIAL</a></li>
      </ul>
    </div>
  </div> -->
  <div class="top-section">
    <div class="container">
      <div class="logo pull-left">
        <a href="index.html">
          <img src="asset/img/logo-hotel.png" alt="">
        </a>
      </div>
      <div class="address pull-left">
        <h1>Sample Resort & Spa</h1>
        <h4>Jl. Laksda Adisucipto Km 6.5 Seturan Yogyakarta | P: +62 274 493 2000 | F: +62 274 493 2222</h4>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <button type="button" class="navbar-toggle" onclick="openNav()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">DEALS</a></li>
          <li class="dropdown">
            <a href="page-rooms.html" class="dropdown-toggle disabled" data-toggle="dropdown">Rooms <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="page-room-details.html">Deluxe Twin Room (2 twin beds)</a></li>
              <li><a href="page-room-details.html">Premier King Room (1 king bed)</a></li>
              <li><a href="page-room-details.html">Premier Twin Room (2 twin beds)</a></li>
              <li><a href="page-room-details.html">Junior Suite (1 king bed)</a></li>
              <li><a href="page-room-details.html">Executive Suite (1 king bed)</a></li>
              <li><a href="page-room-details.html">Presidential Suite (1 king bed)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="page-facilities.html" class="dropdown-toggle disabled" data-toggle="dropdown">Facilities <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Verandah Restaurant</a></li>
              <li><a href="#">Verandah Alfresco</a></li>
              <li><a href="#">Jogja Night Market</a></li>
            </ul>
          </li>
          <li><a href="page-gallery.html">Gallery</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="page-contact.html">CONTACT</a></li>
          <li><a href="#">LOCATION</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">TESTIONIAL</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
