{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="singlepage">
    <div class="hero-image" style="background:url(asset/img/slide/1.jpg)">
    </div>
    <div class="section home-room">
      <div class="container">
        <div class="title-section">
          <h2>Our</h2>
          <h3>Best Rooms</h3>
        </div>
        <div class="outer-room-list">
          <div class="list-room">
            <div class="img">
              <div class="outer-img">
                <img src="asset/img/slide/3.jpg" alt="">
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Deluxe Room</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="page-room-details.html" class="btn-main">ROOM DETAILS</a>
              </div>
            </div>
          </div>
          <div class="list-room">
            <div class="img">
              <div class="outer-img">
                <img src="asset/img/slide/4.jpg" alt="">
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Premier Room</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="page-room-details.html" class="btn-main">ROOM DETAILS</a>
              </div>
            </div>
          </div>
          <div class="list-room">
            <div class="img">
              <div class="outer-img">
                <img src="asset/img/slide/5.jpg" alt="">
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Executive Room</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="page-room-details.html" class="btn-main">ROOM DETAILS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
