{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="singlepage">
    <div class="hero-image" style="background:url(asset/img/slide/1.jpg)">
    </div>
    <div class="section home-gallery">
      <div class="container">
        <div class="title-section">
          <h2>Our</h2>
          <h3>Gallery</h3>
        </div>
        <div class="outer-gallery">
          <div class="list-gallery">
            <div class="outer-gallery">
              <img src="asset/img/slide/1.jpg" alt="">
            </div>
          </div>
          <div class="list-gallery">
            <div class="outer-gallery">
              <img src="asset/img/slide/2.jpg" alt="">
            </div>
          </div>
          <div class="list-gallery">
            <div class="outer-gallery">
              <img src="asset/img/slide/4.jpg" alt="">
            </div>
          </div>
          <div class="list-gallery">
            <div class="outer-gallery">
              <img src="asset/img/slide/3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
