{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="singlepage room-details">
    <div class="hero-image" style="background:url(asset/img/slide/1.jpg)">
    </div>
    <div class="section home-room">
      <div class="container">
        <!-- <div class="title-section">
          <h3>Deluxe Room</h3>
        </div> -->
        <div class="outer-room-list room-details">
          <div class="list-room">
            <div class="img">
              <div class="outer-img">
                <div class="section main-slider">
                  <div class="owl-carousel slider-facilities">
                    <div class="owl-slide" style="background-image: url('asset/img/slide/1.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/2.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/3.jpg')"></div>
                  </div><!-- end .slider-main -->
                </div><!-- end .main-slider -->
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Deluxe Room</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <!-- room description -->
          <div class="room-description">
            <ul>
              <li>
                <h4>Size</h4>
                <p>40 - 43 square meters</p>
              </li>
              <li>
                <h4>Occupancy</h4>
                <p>2 adults +1 child below 6 year old</p>
              </li>
              <li>
                <h4>Bed</h4>
                <p>king / twin</p>
              </li>
              <li>
                <h4>Entertaiment</h4>
                <p>flat screen lcd tv</p>
              </li>
              <li>
                <h4>Connectivity</h4>
                <p>coplimentary wireless internet</p>
              </li>
              <li>
                <h4>Phone</h4>
                <p>international & local direct dial</p>
              </li>
              <li>
                <h4>Refreshment</h4>
                <p>minibar, 24 hour room service</p>
              </li>
              <li>
                <h4>View</h4>
                <p>city / arabian sea</p>
              </li>
            </ul>
          </div>
          <!-- end room description -->
          <div class="other-rooms">
            <div class="list-room">
              <div class="outer-img">
                <img src="asset/img/slide/1.jpg" alt="">
              </div>
              <div class="room-name">
                <div class="outer-room-name">
                  <h4>Executive Room</h4>
                  <a href="page-room-details.html" class="btn-main">ROOM DETAILS</a>
                </div>
              </div>
            </div>
            <div class="list-room">
              <div class="outer-img">
                <img src="asset/img/slide/2.jpg" alt="">
              </div>
              <div class="room-name">
                <div class="outer-room-name">
                  <h4>Executive Room</h4>
                  <a href="page-room-details.html" class="btn-main">ROOM DETAILS</a>
                </div>
              </div>
            </div>
            <div class="list-room">
              <div class="outer-img">
                <img src="asset/img/slide/3.jpg" alt="">
              </div>
              <div class="room-name">
                <div class="outer-room-name">
                  <h4>Executive Room</h4>
                  <a href="page-room-details.html" class="btn-main">ROOM DETAILS</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
