{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="singlepage facilities">
    <div class="hero-image" style="background:url(asset/img/slide/1.jpg)">
    </div>
    <div class="section home-facilities">
      <div class="container">
        <div class="title-section">
          <h2>Our</h2>
          <h3>Best Facilities</h3>
        </div>
        <div class="outer-facilities">
          <div class="list-facilities">
            <div class="img">
              <div class="outer-img">
                <div class="section main-slider">
                  <div class="owl-carousel slider-facilities">
                    <div class="owl-slide" style="background-image: url('asset/img/slide/1.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/2.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/3.jpg')"></div>
                  </div><!-- end .slider-main -->
                </div><!-- end .main-slider -->
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Pool</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <div class="list-facilities">
            <div class="img">
              <div class="outer-img">
                <div class="section main-slider">
                  <div class="owl-carousel slider-facilities">
                    <div class="owl-slide" style="background-image: url('asset/img/slide/1.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/2.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/3.jpg')"></div>
                  </div><!-- end .slider-main -->
                </div><!-- end .main-slider -->
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Bar</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <div class="list-facilities">
            <div class="img">
              <div class="outer-img">
                <div class="section main-slider">
                  <div class="owl-carousel slider-facilities">
                    <div class="owl-slide" style="background-image: url('asset/img/slide/1.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/2.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/3.jpg')"></div>
                  </div><!-- end .slider-main -->
                </div><!-- end .main-slider -->
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Garden</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <div class="list-facilities">
            <div class="img">
              <div class="outer-img">
                <div class="section main-slider">
                  <div class="owl-carousel slider-facilities">
                    <div class="owl-slide" style="background-image: url('asset/img/slide/1.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/2.jpg')"></div>
                    <div class="owl-slide" style="background-image: url('asset/img/slide/3.jpg')"></div>
                  </div><!-- end .slider-main -->
                </div><!-- end .main-slider -->
              </div>
            </div>
            <div class="text">
              <div class="outer-text">
                <h2>Balcony</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
