{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="homepage">

    <div class="section main-slider">
      <div id="slider-main" class="owl-carousel">
        <div class="owl-slide" style="background-image: url('asset/img/slide/1.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/2.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/3.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/4.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/5.jpg')"></div>
      </div><!-- end .slider-main -->
      <div class="booking-box">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="box-logo">
          			<a href="#"><img src="https://media.jogjahotels.id/website/powered-by-indohotels-with-bg.svg" alt=""></a>
          		</div>
            </div>
            <div class="col-lg-10">
              <div class="bookid-wrapper krs-hidden krs-visible animated zoomIn full-visible">
            		<form class="bookid-horizontal" action="//www.indohotels.id/referrer/booking/" method="GET" role="form" onsubmit="return validateBook()">
            			<div class="gridbox">
            				<h2 class="text-center visible-xsmall">Instant Booking</h2>
            				<div class="gridlane">
            					<div class="idn-b3 idn-m4 idn-s6">
            						<label for="" class="bookidh-label">Check-in</label>
            						<div class="form-group">
            							<div class="bookidh-date" id="datetimepicker2">
            								<span readonly="true" id="from_date_day">Friday</span>
            								<input readonly="true" id="from_date" type="text" class="from_date from_date input-sm form-control" name="start" value="">
            								<input readonly="true" id="mobile_date" style="display:none" type="text">
            							</div>
            						</div>
            					</div>
            					<div class="idn-b1 idn-m4 idn-s6">
            						<label for="" class="bookidh-label">Night(s)</label>
                        <div class="form-group">
                          <select id="t_night" name="night" value="1" class="t_night qty form-control" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
              	          <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option></select>
                        </div>
            					</div>
            					<div class="idn-b3 idn-m4 idn-s6">
            						<label for="" class="bookidh-label">Check-out</label>
            						<div class="form-group">
            							<div class="bookidh-date" id="datetimepicker2">
            								<span readonly="true" id="to_date_day">Saturday</span>
            								<input readonly="true" type="text" id="to_date" class="to_date to_date_mobile input-sm form-control" name="end" value="">
            								<input readonly="true" id="mobile_date" style="display:none" type="text">
            							</div>
            						</div>
            					</div>
            					<div class="idn-b1 idn-m4 idn-s6">
            						<label for="" class="bookidh-label">Room(s)</label>
            						<select id="rooms" name="rooms" value="1" class="qty form-control" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
        	          			<option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
            					</div>
            					<!-- <div class="idn-b2 idn-m4 idn-s4 book-option">
        								<label for="" class="bookidh-label">Select our Hotels</label>
        								<select id="refferer" name="refferer" class="qty form-control">
        									<option value="hotelindahpalacesolo.com">Hotel Indah Palace Solo</option>
        									<option value="hotelindahpalacetawangmangu.com">Hotel Indah Palace Tawangmangu</option>
        								</select>
        							</div> -->
            					<div class="idn-b4 idn-m8 idn-s12 formbtn">
                        <!-- <p class="info-booking"><span class="total-book">&nbsp;</span> <span class="last-book"></span></p> -->
                        <label for="" class="bookidh-label">&nbsp;</label>
                        <button class="bookidh-mainbtn btn-main">Check Availability</button>
                      </div>
            				</div><!-- end .lane -->
            			</div><!-- end .gridbox -->
            		</form>
            		<!-- <div class="box-logo visible-xsmall">
            			<a href="#"><img src="https://media.jogjahotels.id/website/powered-by-indohotels-with-bg.svg" alt=""></a>
            		</div> -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- end .booking-box -->
    </div><!-- end .main-slider -->

    <div class="section deals">
      <div class="container">
        <div class="outer-deals">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>DEALS</h2>
              </div>
            </div>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/1.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section about-us">
      <div class="container">
        <div class="outer-about-us">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>About Us</h2>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="page-about-us" class="btn-main-border">READ MORE</a>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-12">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/1.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section room">
      <div class="container">
        <div class="outer-room">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>ROOMS</h2>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="page-about-us" class="btn-main-border">VIEW MORE</a>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <a href="#" class="image-thumb">
                    <div class="label-room">
                      <p class="room-name">DELUXE ROOM</p>
                      <p class="start-price"><span>Start from</span> IDR 500.000</p>
                    </div>
                    <img src="asset/img/slide/1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <a href="#" class="image-thumb">
                    <div class="label-room">
                      <p class="room-name">DELUXE ROOM</p>
                      <p class="start-price"><span>Start from</span> IDR 500.000</p>
                    </div>
                    <img src="asset/img/slide/1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <a href="#" class="image-thumb">
                    <div class="label-room">
                      <p class="room-name">DELUXE ROOM</p>
                      <p class="start-price"><span>Start from</span> IDR 500.000</p>
                    </div>
                    <img src="asset/img/slide/1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <a href="#" class="image-thumb">
                      <div class="label-room">
                        <p class="room-name">DELUXE ROOM</p>
                        <p class="start-price"><span>Start from</span> IDR 500.000</p>
                      </div>
                      <img src="asset/img/slide/1.jpg" alt="">
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section facilities">
      <div class="container">
        <div class="outer-facilities">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>FACILITIES</h2>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="page-about-us" class="btn-main-border">VIEW MORE</a>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-facilities">
                      <p class="facilities-name">lobby</p>
                    </div>
                    <img src="asset/img/slide/1.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-facilities">
                      <p class="facilities-name">gym</p>
                    </div>
                    <img src="asset/img/slide/2.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-facilities">
                      <p class="facilities-name">garden</p>
                    </div>
                    <img src="asset/img/slide/3.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-facilities">
                      <p class="facilities-name">pool</p>
                    </div>
                    <img src="asset/img/slide/4.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section gallery">
      <div class="container">
        <div class="outer-gallery">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>GALLERY</h2>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="page-about-us" class="btn-main-border">VIEW MORE</a>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/1.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/2.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/3.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <img src="asset/img/slide/4.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section location">
      <div class="container">
        <div class="outer-location">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>LOCATION</h2>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="page-about-us" class="btn-main-border">READ MORE</a>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-12">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <!-- <img src="asset/img/slide/1.jpg" alt=""> -->
                    <div id="map-canvas" style="height: 350px; width: 100%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section blog">
      <div class="container">
        <div class="outer-blog">
          <div class="outer-content-title">
            <div class="outer-title">
              <div class="title">
                <h2>BLOG</h2>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="page-about-us" class="btn-main-border">VIEW MORE</a>
          </div>
          <div class="outer-image-thumb">
            <div class="row">
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-blog">
                      <p class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <p class="time">February 28, 2018</p>
                    </div>
                    <img src="asset/img/slide/1.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-blog">
                      <p class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <p class="time">February 28, 2018</p>
                    </div>
                    <img src="asset/img/slide/2.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-blog">
                      <p class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <p class="time">February 28, 2018</p>
                    </div>
                    <img src="asset/img/slide/3.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-image-thumb">
                  <div class="image-thumb">
                    <div class="label-blog">
                      <p class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <p class="time">February 28, 2018</p>
                    </div>
                    <img src="asset/img/slide/4.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section testimonial" style="background-image:url(asset/img/slide/2.jpg)">
      <div class="container">
        <div class="outer-testimonial">
          <div class="list-testimonial">
            <h2>TESTIMONIALS</h2>
            <div class="main-slider">
              <div class="owl-carousel slider-facilities">
                <div class="owl-slide">
                  <div class="text-testimonial text-center">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p><i><strong>Amri Nella Kharisma</strong></i></p>
                  </div>
                </div>
                <div class="owl-slide">
                  <div class="text-testimonial text-center">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p><i><strong>Amri Nella Kharisma</strong></i></p>
                  </div>
                </div>
                <div class="owl-slide">
                  <div class="text-testimonial text-center">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p><i><strong>Amri Nella Kharisma</strong></i></p>
                  </div>
                </div>
              </div><!-- end .slider-main -->
            </div><!-- end .main-slider -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
