{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="singlepage contact">
    <div class="hero-image" style="background:url(asset/img/slide/1.jpg)">
    </div>
    <div class="section contact">
      <div class="container">
        <div class="title-section">
          <h2>Contact</h2>
          <h3>Us</h3>
        </div>
        <div class="section form-contact">
          <div class="row">
              <div class="col-sm-5">
                <div class="contact-address">
                  <div class="contact-item">
                    <div class="box-icon">
                      <div class="icon-inner">
                        <span class="icon">
                          <i class="icon-location"></i>
                        </span>
                      </div>
                    </div>
                    <p>Jl. Laksda Adisucipto Km 6.5 Seturan <br />Yogyakarta Indonesia 55281</p>
                  </div><!-- end .contact-item -->
                  <div class="contact-item">
                    <div class="box-icon">
                      <div class="icon-inner">
                        <span class="icon">
                          <i class="icon-email-mail-streamline"></i>
                        </span>
                      </div>
                    </div>
                    <p>sales@eastparchotel.com</p>
                  </div><!-- end .contact-item -->
                  <div class="contact-item">
                    <div class="box-icon">
                      <div class="icon-inner">
                        <span class="icon">
                          <i class="icon-phone"></i>
                        </span>
                      </div>
                    </div>
                    <p>
                      +62 274 493 2000<br />
                      +62 274 800 2000
                    </p>
                  </div><!-- end .contact-item -->
                  <div class="contact-item">
                    <div class="box-icon">
                      <div class="icon-inner">
                        <span class="icon">
                          <i class="icon-phone-1"></i>
                        </span>
                      </div>
                    </div>

                    <p>+62 811 257 5444</p>
                  </div><!-- end .contact-item -->
                  <div class="contact-item">
                    <div class="box-icon">
                      <div class="icon-inner">
                        <span class="icon">
                          <i class="icon-fax"></i>
                        </span>
                      </div>
                    </div>

                    <p>+62 274 493 2222</p>
                  </div><!-- end .contact-item -->
                </div><!-- end .contact-address -->
              </div>
              <div class="col-sm-7">
                <div class="contact-form">
                  <form action="" method="post" class="">
                    <div class="row">
                      <div class="col-sm-6"><span class="yname"><input type="text" name="your-name" value="" size="40" class="form-control" aria-invalid="false" placeholder="Full Name"></span></div>
                      <div class="col-sm-6"><span class="yemail"><input type="email" name="your-email" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" placeholder="Your Email"></span></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12"><span class="ysubject"><input type="text" name="your-subject" value="" size="40" class="form-control" aria-invalid="false" placeholder="Subject"></span></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12"><span class="ymessage"><textarea name="your-message" cols="40" rows="10" class="form-control" aria-invalid="false" placeholder="Your Message"></textarea></span></div>
                    </div>
                    <p><input type="submit" value="Send Message" class="btn btn-main large"></p>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div><!-- end .container -->
      <div class="section map">
        <div id="map-canvas" style="height: 450px; width: 100%;"></div>
      </div>
    </div><!-- end .content-intro -->
  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
